* {
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  width: 100%;
  height: 7rem;
  background-color: #000000;
}
.nav--show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  opacity: 0;
  pointer-events: none;
  transition: opacity 2s ease-in-out;
}
.nav--show2 {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 2s ease-in-out;
}
.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.nav__logo--span:nth-child(1) {
  color: #006414;
}
.nav__logo--span:nth-child(2) {
  color: #ffffff;
}
.nav__logo--span:nth-child(3) {
  color: #bd0003;
}
.nav__content--link {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
  margin: 1rem;
}
.nav__content--link:hover {
  color: #bd0003;
}
.nav__btnM, .nav__btnC {
  background-color: #000000;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 6rem;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .nav__content {
    position: fixed;
    width: 25rem;
    height: 100vh;
    margin-bottom: 4rem;
    top: 0;
    right: -100rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
  }
  .nav__content--show {
    right: 0;
    opacity: 1;
    pointer-events: unset;
    transition: right 1s ease;
  }
  .nav__content--show2 {
    right: -100rem;
    opacity: 0;
    pointer-events: none;
    transition: right 1s ease;
  }
  .nav__btnC {
    right: -100rem;
    z-index: 55;
  }
  .nav__btnC--close {
    pointer-events: none;
  }
  .nav__btnC--show {
    right: 2rem;
    opacity: 1;
    pointer-events: unset;
    transition: right 1s ease;
  }
  .nav__btnC--show:hover {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
  .nav__btnM {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s ease;
  }
  .nav__btnM--menu {
    pointer-events: none;
  }
  .nav__btnM:hover {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
  .nav__btnM--show {
    opacity: 0;
    pointer-events: none;
  }
}

.hero__content {
  position: relative;
  width: 100%;
}
.hero__content--imagen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  filter: grayscale(1);
  max-width: 100%;
  width: 100%;
  height: 60rem;
  object-fit: cover;
}
.hero__bienv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero__bienv--logo {
  max-width: 100%;
  width: 30rem;
  margin-bottom: 4rem;
}
.hero__bienv--title {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  padding: 2rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
