@use 'variables';
@use 'mixins';

.event{
    position: relative;
    margin-bottom: 50rem;
    
    &__title{
        @include mixins.crear-title;
        background-color: variables.$color-second;
        color: variables.$color-third;
    }

    &__cont{
        @include mixins.crear-grid(5% 1fr 1fr 5%, 1fr);
        position: absolute;
        padding: 8rem;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s ease-in;

        &--show{
            opacity: 1;
            pointer-events: unset;
        }

        &--img{
            max-width: 100%;
            width: 55rem;
            height: 35rem;
            object-fit: cover;
            padding: 1rem;
            
        }

        &--flecha{
            margin: auto;
            cursor: pointer;
        }

        &--plan{
            padding: 1rem;
            &-title{
                font-family: variables.$font-title;
                color: variables.$color-first;
                font-size: 2.3rem;
                text-align: center;
                margin-bottom: 2rem;
            }
            &-parrafo{
                font-family: variables.$font-parrafo;
                font-size: 2rem;
                margin: 0 2rem;
            }
            &-boton{
                display: inline-block;
                font-family: variables.$font-parrafo;
                font-size: 2rem;
                background-color: variables.$color-second;
                padding: 1rem 2rem;
                border-radius: .6rem;
                color: variables.$color-third;
                margin-top: 2rem;
                margin-left: 2rem;
                cursor: pointer;
                transition: background-color 1s ease;

                &:hover{
                    background-color: variables.$color-first;
                }
            }
        }
    }

    @media (max-width: 900px) {
        margin-bottom: 55rem;

        &__cont{
            padding: 8rem 4rem;
            &--img{
                width: 50rem;
                height: 30rem;
            }
        }
    }
    @media (max-width: 768px) {
        margin-bottom: 70rem;

        &__cont{
            &--img{
                margin: auto;
                grid-column: 2/4;
                grid-row: auto;
            }
            &--plan{
                grid-column: 4/2;
                grid-row: auto;

            }
            &--flecha{
                margin: 0;
                &:nth-child(1){
                    position: absolute;
                    top: 37.9rem;
                    left: 3rem;
                }
            }
        }
    }
    @media (max-width: 576px) {
        margin-bottom: 75rem;

        &__title{
            font-size: 2.9rem;
        }
        &__cont{
            padding: 8rem 2rem;

            &--img{
                width: 40rem;
                height: 30rem;
            }
            &--flecha{
                margin: 0;
                &:nth-child(1){
                    top: 37.9rem;
                    left: 1rem;
                }
            }
        }
    }
    @media (max-width: 480px) {
        &__title{
            font-size: 2.8rem;
        }
        &__cont{

            &--img{
                width: 35rem;
                height: 25rem;
            }
            &--flecha{
                margin: 0;
                &:nth-child(1){
                    top: 32.9rem;
                    left: 1rem;
                }
            }
        }
    }
    @media (max-width: 480px) {
        &__cont{

            &--img{
                width: 30rem;
                height: 20rem;
            }
            &--flecha{
                margin: 0;
                &:nth-child(1){
                    top: 27.9rem;
                    left: 0;
                }
            }
            &--plan{
                &-title{
                    font-size: 2rem;
                }
                &-parrafo{
                    display: inline-block;
                    font-size: 1.9rem;
                    height: 12rem;
                    overflow-y: auto;
                }
            }
        }
    }
    @media (max-width: 320px) {
        &__title{
            padding: 5rem 0;
            font-size: 2.5rem;
        }
        &__cont{
            &--img{
                width: 30rem;
                height: auto;
            }
            &--flecha{
                margin: 0;
                &:nth-child(1){
                    top: 26rem;
                    left: -1rem;
                }
            }
            &--plan{
                &-title{
                    font-size: 2rem;
                }
                &-parrafo{
                    font-size: 1.8rem;
                }
            }
        }
    }
}