@use 'variables';
@use 'mixins';

.nav{
    @include mixins.crear-flexbox(space-between,center);
    padding: 1rem 6rem;
    width: 100%;
    height: 7rem;
    background-color: variables.$color-five;
    opacity: 1;
    transition: opacity 1s ease-in-out ;


    &--show{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 80;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s ease-in-out ;
        
        &2{
            opacity: 1;
            pointer-events: unset;
        }
    }


    &__logo{
        font-family: variables.$font-title;
        font-size: 3rem;

        &--span:nth-child(1){
            color: variables.$color-first;
        }
        &--span:nth-child(2){
            color: variables.$color-third;
        }
        &--span:nth-child(3){
            color: variables.$color-second;
        }
    }

    &__content{
        &--link{
            font-family: variables.$font-title;
            color: variables.$color-third;
            font-size: 1.9rem;
            margin: 1rem;

            &:active{
                color: variables.$color-first;
            }
            &:hover{
                color: variables.$color-second;
            }
            
        }
        
    }

    &__btnM, &__btnC{
        background-color: variables.$color-five;
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 6rem;
        opacity: 0;
        pointer-events: none;
        
    }


    @media (max-width: 768px){
        &__content{
            position: fixed;
            width: 25rem;
            height: 100vh;
            margin-bottom: 4rem;
            top: 0;
            right: -100rem;
            bottom: 0;
            @include mixins.crear-flexbox(center,center);
            flex-direction: column;
            background-color: variables.$color-five;
            z-index: 50;
            opacity: 0;
            pointer-events: none;
            transition: right 1s ease;


            &--show{
                right: 0;
                opacity: 1;
                pointer-events: unset;
            }
        }

        &__btnC{
            z-index: 55;
            
            &--close{
                pointer-events: none;
            }
            
            &--show{
                opacity: 1;
                pointer-events: unset;

                transform: rotate(0);
                transition: transform 1s ease;

                &:hover{
                    transform: rotate(360deg);
                }
            }

        }

        &__btnM{
            opacity: 1;
            pointer-events: unset;
            transition: opacity 1s ease;
            transform: rotate(0);
            transition: transform 1s ease;

            &--menu{
                pointer-events: none;
            }
            &:hover{
                transform: rotate(360deg);
            }

            &--show{
                opacity: 0;
                pointer-events: none;
            }
        }

    }

    @media (max-width: 480px){
        padding: 1rem 2rem;

        &__content{
            width: 100%;
        }

        &__btnM, &__btnC{
            right: 2rem;
        }
    }
}
