
$color-first: #006414;
$color-second: #bd0003;
$color-third: #ffffff;
$color-four: #dcdcdc;
$color-five: #000000;

$padding-first: 8rem 0;
$padding-second: 1rem 2rem;

$margin-first: 6rem;

$font-title: 'Josefin Sans', sans-serif;
$font-parrafo: 'Cormorant Garamond', serif;