* {
  box-sizing: border-box;
  border: none;
  outline: none;
  -webkit-text-decoration: 0;
          text-decoration: 0;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  width: 100%;
  height: 7rem;
  background-color: #000000;
}
.nav--show {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 80;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}
.nav--show2 {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 1s ease-in-out;
}
.nav__logo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
}
.nav__logo--span:nth-child(1) {
  color: #006414;
}
.nav__logo--span:nth-child(2) {
  color: #ffffff;
}
.nav__logo--span:nth-child(3) {
  color: #bd0003;
}
.nav__content--link {
  font-family: "Josefin Sans", sans-serif;
  color: #ffffff;
  font-size: 1.9rem;
  margin: 1rem;
}
.nav__content--link:hover {
  color: #bd0003;
}
.nav__btnM, .nav__btnC {
  background-color: #000000;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 6rem;
  opacity: 0;
  pointer-events: none;
}
@media (max-width: 768px) {
  .nav__content {
    position: fixed;
    width: 25rem;
    height: 100vh;
    margin-bottom: 4rem;
    top: 0;
    right: -100rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    z-index: 50;
    opacity: 0;
    pointer-events: none;
    transition: right 1s ease;
  }
  .nav__content--show {
    right: 0;
    opacity: 1;
    pointer-events: unset;
    transition: right 1s ease;
  }
  .nav__content--show2 {
    right: -100rem;
    opacity: 0;
    pointer-events: none;
    transition: right 1s ease;
  }
  .nav__btnC {
    right: -100rem;
    z-index: 55;
  }
  .nav__btnC--close {
    pointer-events: none;
  }
  .nav__btnC--show {
    right: 2rem;
    opacity: 1;
    pointer-events: unset;
    transition: right 1s ease;
  }
  .nav__btnC--show:hover {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
  .nav__btnM {
    opacity: 1;
    pointer-events: unset;
    transition: opacity 1s ease;
  }
  .nav__btnM--menu {
    pointer-events: none;
  }
  .nav__btnM:hover {
    transform: rotate(180deg);
    transition: transform 1s ease;
  }
  .nav__btnM--show {
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 480px) {
  .nav {
    padding: 1rem 2rem;
  }
  .nav__content {
    width: 100%;
  }
  .nav__btnM, .nav__btnC {
    right: 2rem;
  }
}

.hero__content {
  position: relative;
  width: 100%;
}
.hero__content--imagen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  filter: contrast(1);
  max-width: 100%;
  width: 100%;
  height: 60rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__bienv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
  flex-direction: column;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero__bienv--logo {
  max-width: 100%;
  width: 30rem;
  margin-bottom: 4rem;
}
.hero__bienv--title {
  font-family: "Cormorant Garamond", serif;
  font-size: 4rem;
  padding: 2rem;
  margin: 0 2rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
@media (max-width: 768px) {
  .hero__bienv--logo {
    width: 25rem;
  }
  .hero__bienv--title {
    font-size: 3rem;
  }
}
@media (max-width: 576px) {
  .hero__bienv--title {
    font-size: 2.8rem;
  }
}
@media (max-width: 480px) {
  .hero__bienv--title {
    font-size: 2.3rem;
  }
}

.product__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 8rem;
  color: #006414;
}
.product__cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
.product__cont--platos {
  position: relative;
  padding: 1rem;
  margin: 2rem;
  background-color: #006414;
  border-radius: 0.6rem;
  box-shadow: 2px 4px 10px #000;
}
.product__cont--platos-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 0.6rem;
  padding: 0.5rem;
  cursor: pointer;
}
.product__cont--platos-btn_icon {
  width: 3rem;
  pointer-events: none;
}
.product__cont--platos-img {
  max-width: 100%;
  width: 35rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 0.6rem;
}
.product__cont--platos-nombre {
  color: #ffffff;
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
.product__modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  z-index: 85;
}
.product__modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity 1s ease-in;
}
.product__modal--cont {
  position: relative;
  top: -100rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 2px 4px 10px red;
  display: grid;
  grid-template-columns: 420px 350px;
  grid-template-rows: 1fr;
}
.product__modal--cont-show {
  top: 0;
  transition: top 2s ease-in;
}
.product__modal--cont-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #ffffff;
  cursor: pointer;
}
.product__modal--cont-btn:hover {
  transform: rotate(360deg);
  transition: transform 1s ease;
}
.product__modal--cont-btnImagen {
  width: 3.5rem;
  pointer-events: none;
}
.product__modal--cont-img {
  max-width: 100%;
  width: 40rem;
  height: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem;
}
.product__modal--cont-desc {
  padding: 0 1rem;
}
.product__modal--cont-descTitle {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
.product__modal--cont-descParrafo {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7rem;
  font-weight: 400;
  margin-bottom: 1rem;
  border-bottom: 1px solid #999;
}
.product__modal--cont-descDetalle {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.7rem;
  font-weight: 400;
}
@media (max-width: 900px) {
  .product__modal--cont {
    grid-template-columns: 355px 350px;
  }
  .product__modal--cont-img {
    width: 35rem;
    height: 30rem;
  }
}
@media (max-width: 768px) {
  .product__modal--cont {
    grid-template-columns: 320px 320px;
  }
  .product__modal--cont-img {
    width: 30rem;
    height: 25rem;
  }
}
@media (max-width: 700px) {
  .product__modal {
    padding: 2rem;
  }
  .product__modal--cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .product__modal--cont-img {
    width: 30rem;
    height: 25rem;
    margin-bottom: 2rem;
  }
  .product__modal--cont-descTitle {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .product__modal--cont-img {
    width: 25rem;
    height: 20rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 480px) {
  .product__title {
    font-size: 2.8rem;
  }
  .product__cont--platos-img {
    width: 30rem;
    height: 25rem;
  }
  .product__modal--cont-img {
    width: 20rem;
    height: 15rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 350px) {
  .product__cont--platos-img {
    height: 20rem;
  }
}
@media (max-width: 320px) {
  .product__title {
    font-size: 2.5rem;
  }
  .product__cont--platos-img {
    height: 15rem;
  }
}

.event__title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 8rem;
  color: #006414;
  background-color: #bd0003;
  color: #ffffff;
}
.event__cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.event__cont--img {
  max-width: 100%;
  width: 30rem;
}/*# sourceMappingURL=style.css.map */